.Header-Container{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.Header-Box{
    /* background: red; */
    height: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) */
}
.Header-Box-Text{
    /* background: green; */
    


}
.Header-Title{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;


}
.Header-Subtitle{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;


}
.Button-HT-Protect{
    background: #fd2f71;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;


}
.Header-Box-Img{
}

*button:focus{
    outline: none;
}

.CasesCard-Container{
    background: #fd2f71;
    padding: 100px 20px;


}
.Recommendations-Container{
    /* background: orange; */
    padding: 100px 0px;
    background: #f7f9fe

}
.Hotline-Container{
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.Hotline-Box{
    background: rgba(0, 17, 255, 0.356);
    height: 100%;
    /* opacity: 0.7; */
}
.Hotline-Box-Img{
    /* background: #fd2f71; */
    display: flex;
    justify-content: center;
}
.Hotline-Image{
    margin-top: -65px;
    width: 320px;
}
.Hotline-Txt-Box{
    /* background: #fd2f71; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    color: white;

}
.Hotline-Title{
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    font-weight: 800;

}
.Hotline-Subtitle{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    
}
.Hotline-Btn{
    background: #fd2f71;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;




}
.Hotline-Btn:focus{
    outline: none
}
.SafeImportant-Container{
    background: #f7f9fe;
    padding: 40px;
}
.WashHands-Container{
    background: #f7f9fe;
    padding: 40px;
}

/* responsive */
@media only screen and (max-width: 1200px) {
    .Hotline-Container{
        height: 100%;
    }
    .Hotline-Txt-Box{
        text-align: center;
        /* background: red; */
        position: relative;
        padding: 30px 0;
    }
}
@media only screen and (max-width: 992px) {
    .CasesCard-Container{
        padding: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .Header-Container{
        padding: 20px;
        height: 90vh;

    }
    .Header-Title{
        font-size: 40px;
    }
    .Header-Img{
        width: 300px;
        float: right;        
    }
}