.Rec-Container{

}
.Rec-Text-Box{
    /* background: green; */
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    padding: 20px;
    font-family: 'Nunito', sans-serif;

}
.Rec-Title{
    font-size: 35px;
    padding: 10px 0;


}
.Rec-Subtitle{
    font-size: 18px;
    color: #707070;
    padding: 20px 0;

}
li{
    list-style-type: decimal;
}
.Rec-List{
    /* background: orange; */
    color: #707070;
    font-size: 18px;


}