
.WH-Title{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 800;

}
.WH-Subtitle{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    padding: 20px 10px;
    
}
.WH-Card{
    /* background: orange; */
    margin-bottom: 25px;

}
.WH-Card-Box-Img{
    /* background: red; */
    justify-content: center;
    display: flex;
    text-align: center;

}
.WH-Img{
    width: 150px;
}
.WH-Card-Txt{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 20px 5px;
    font-size: 18px;
    font-weight: 600;


}